<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>A0DC5AC3-2DEF-4F7F-AF5D-7B3C23762F49</string>
			<string>20E55896-47DE-4D99-AAF9-EA4DB85812EA</string>
			<string>1957582B-78FC-44AC-8D06-A91AE9E730F8</string>
			<string>62274700-C0C4-4EDB-AF12-AE637D5CEAB5</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>1957582B-78FC-44AC-8D06-A91AE9E730F8</key>
			<dict>
				<key>items</key>
				<array>
					<string>946FFC64-0BAF-4ACF-B96C-180880EFA5F4</string>
					<string>4367F508-2CA6-4E9D-8EDE-BB46937004C5</string>
					<string>EE61AE82-0ECE-492C-B210-60465181497E</string>
					<string>32AAED95-738D-473E-9E33-D5586ECA44C7</string>
				</array>
				<key>name</key>
				<string>Notifications</string>
			</dict>
			<key>20E55896-47DE-4D99-AAF9-EA4DB85812EA</key>
			<dict>
				<key>items</key>
				<array>
					<string>27CC61E0-72D0-4CD4-9B34-F8EB5E1BC06A</string>
					<string>------------------------------------</string>
					<string>A4AEF85C-C632-4D9F-A002-DF7778AE3922</string>
					<string>46862C0D-ACA0-4130-B958-CD22C67EDD88</string>
				</array>
				<key>name</key>
				<string>Media</string>
			</dict>
			<key>62274700-C0C4-4EDB-AF12-AE637D5CEAB5</key>
			<dict>
				<key>items</key>
				<array>
					<string>20F77F51-3CE4-4F9F-8995-545EF77441AB</string>
					<string>A85EBBE0-269F-4610-84C5-D0678F05880D</string>
					<string>4B1C9E0D-5796-4DDB-927D-60A2C9B039EA</string>
				</array>
				<key>name</key>
				<string>Features</string>
			</dict>
			<key>A0DC5AC3-2DEF-4F7F-AF5D-7B3C23762F49</key>
			<dict>
				<key>items</key>
				<array>
					<string>C75A0568-0F5A-493E-919B-55E01DDE6821</string>
					<string>------------------------------------</string>
					<string>9BCF8FBD-97C8-479B-AB41-B23EDF627643</string>
					<string>9DBDF595-4127-4DFF-B57D-89828981E360</string>
					<string>F4034920-ECCB-4624-8257-8E9A8EF16CF8</string>
				</array>
				<key>name</key>
				<string>Status</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>PhoneGap</string>
	<key>ordering</key>
	<array>
		<string>A85EBBE0-269F-4610-84C5-D0678F05880D</string>
		<string>20F77F51-3CE4-4F9F-8995-545EF77441AB</string>
		<string>4B1C9E0D-5796-4DDB-927D-60A2C9B039EA</string>
		<string>27CC61E0-72D0-4CD4-9B34-F8EB5E1BC06A</string>
		<string>A4AEF85C-C632-4D9F-A002-DF7778AE3922</string>
		<string>46862C0D-ACA0-4130-B958-CD22C67EDD88</string>
		<string>9BCF8FBD-97C8-479B-AB41-B23EDF627643</string>
		<string>9DBDF595-4127-4DFF-B57D-89828981E360</string>
		<string>F4034920-ECCB-4624-8257-8E9A8EF16CF8</string>
		<string>C75A0568-0F5A-493E-919B-55E01DDE6821</string>
		<string>946FFC64-0BAF-4ACF-B96C-180880EFA5F4</string>
		<string>EE61AE82-0ECE-492C-B210-60465181497E</string>
		<string>4367F508-2CA6-4E9D-8EDE-BB46937004C5</string>
		<string>32AAED95-738D-473E-9E33-D5586ECA44C7</string>
	</array>
	<key>uuid</key>
	<string>E10112FC-6BB4-4098-9AEC-17EC6F4B8421</string>
</dict>
</plist>
